html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 18%;
    background-color: rgb(43, 207, 207);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(13, 114, 114);
    min-height: 150px;
}
.content {
    background-color: rgb(169, 211, 212);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(12, 91, 145);
    min-height: 150px;
}
.img1 {
    float: left;
    padding: 20px;
}
.img2 {
    float: right;
    padding: 20px;
}
.header h1 {
    text-align: center;
    padding: 30px;
}
.content h2 {
    text-align: center;
    color: blue;
}
.footer h3 {
    text-align: center;
}
.menu ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
.content table thead th {
    background-color: rgb(105, 105, 255);
}
.content table tbody td {
    background-color: rgb(245, 245, 245);
}
.content table tbody tr:nth-child(even) td {
    background-color: rgb(234, 234, 235);
}
.content table tbody tr:hover td{
    background-color: rgb(138, 138, 252);
    cursor: pointer;
}
ul li {
    padding: 5px;
}
iframe {
    padding-top: 10px;
}
.row {
    margin: 5px;
}
fieldset {
    border-radius: 10px;
    margin: 15px;
    border-color: black;
    background-color: rgb(87, 175, 146);
}